


<ul class="events_list">
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="event_item">
        <img src="#" alt="" class="event_image">
        <div class="border_div"></div>
        <ul class="event_text_list">
            <li class="text_item">
                <h2 class="event_text_title"></h2>
                <p class="event_date"></p>
                <div class="place_div">
                    <img src="#" alt="" class="event_svg">
                    <p class="event_place"></p>
                </div>
            </li>
        </ul>
    </li>
</ul>

