<header id="header">
  <a href="" id="header__logo"></a>
  <div id="header__wrap">
    <h1 id="header__title"></h1>
    <label for="header__searching" class="header__label">
      <input type="text" id="header__searching" placeholder="Start searching" />
      <svg>
        <use href="./images/symbol-defs.svg#search"></use>
      </svg>
    </label>
    <label for="header__country" class="header__label">
      <input type="text" id="header__country" placeholder="Choose country" />
      <svg>
        <use href="./images/symbol-defs.svg#drop-down_menu"></use>
      </svg>
    </label>
  </div>
</header>
