.tui-first {
  display: none !important;
}

.tui-prev {
  display: none !important;
}

a.tui-next {
  display: none !important;
}

a.tui-last {
  display: none !important;
}

.hide {
  display: none !important;
}


#main{
  background-color: #0E0E0E;

}


.event__modal{
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: #FFF2FD;
  position: absolute;
  z-index: 5;
 width: 272;
height: 915;

border-top-left-radius: 150px;
border-bottom-right-radius: 150px;

}

.close{
  width: 17;
height: 17;
font-weight: 500;
padding-right: 25px;
font-size: 20px;
padding-left: 230px;
padding-top: 25px;
background-color: transparent;

  color: #4C00FE;
}


.modal__img{
  width: 102;
height: 102;

margin-top: 75px;
border-radius: 100;
margin-bottom: 8px;
}

.modal__title{
  font-family: Montserrat;
font-weight: 600;
font-size: 20px;
color: #DC56C5;
margin-top: 10px;
margin-bottom: 5px;
}

.modal__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  width: 243;

color: #0E0E0E;
}










.events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events__list {
  justify-content: center;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 4px;
}

.events__item--image {
  display: block;
  width: 128px;
  height: 161px;
  top: 585px;
  left: 25px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.events__item--title {
  color: #dc56c5;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.events__item--date {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.events__item--location {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.events__item {
  width: 135px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 5px;
}

.events__item--wrap {
  position: absolute;
z-index: 1;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0;
  width: 109px;
  height: 101px;

  right: 0;
  top: -13px;

  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-width: 1px;

  z-index: 2;
}

#pagination2{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  column-gap: 5px;
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.tui-page-btn {
  border: none !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  text-align: center !important;
  color: #fff !important;
}

.tui-is-selected{
  border: 1px solid #dc56c5 !important;
  border-radius: 10px 0 !important;
  width: 30px !important;
  height: 30px !important;
  background-color: transparent !important;
}

.tui-page-btn:hover {
  border: 1px solid #dc56c5 !important;
  border-radius: 10px 0 !important;
  width: 30px !important;
  height: 30px !important;
  background-color: transparent !important;
}

@media (min-width: 480px) {
  .events__list {
    width: 285px;
  }
  .events__item--image {
    width: 128px;
    height: 161px;
  }
  .events__item {
    width: 138px;
    height: 242px;
  }
}

@media (min-width: 768px) {
  .events__list {
    row-gap: 45px;
    column-gap: 13px;
    width: 621px;
  }
  .events__item--image {
    width: 180px;
    height: 227px;
  }

  .events__item--title {
    font-size: 16px;
  }

  .events__item--date {
    font-size: 16px;
  }

  .events__item--location {
    font-size: 14px;
  }

  .events__item {
    width: 194px;
    height: 355px;
  }

  .events__item--wrap {
    width: 153px;
    height: 143px;
    right: 4px;
    top: -13px;
  }
}

@media (min-width: 1280px) {
  .events {
  }
  .events__list {
    width: 1000px;
    row-gap: 50px;
    justify-content: flex-end;
    column-gap: 56px;
  }
  .events__item--image {
    width: 180px;
    height: 227px;
  }

  .events__item--date {
    font-size: 16px;
  }

  .events__item--location {
    font-size: 17px;
  }

  .events__item {
    width: 194px;
    height: 312px;
  }

  .events__item--wrap {
    width: 153px;
    height: 143px;
    left: 41px;
    bottom: 223px;
  }
}

.event__modal{
  background-color: #FFF2FD;

}
