#header {
  background-image: url('../images/backgroundHeader_mobile.jpg');
  background-repeat: no-repeat;
  width: 100vw;
  height: 364px;
  background-size: 100% 100%;
  @media screen and (min-width: 768px) {
    & {
      display: flex;
      background-image: url('../images/backgroundHeader_tablet.jpg');
    }
  }
  @media screen and (min-width: 1280px) {
    & {
      height: 446px;
      background-image: url('../images/backgroundHeader_desk.jpg');
    }
  }
}

#header__logo {
  display: flex;
  align-self: self-start;
  @media screen and (min-width: 768px) {
    & {
      width: 19px;
    }
  }
  @media screen and (min-width: 1280px) {
    & {
      width: 300px;
    }
  }
}

.header__wrapForInputs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  @media screen and (min-width: 768px) {
    & {
      column-gap: 30px;
      flex-direction: row;
    }
  }
}

#header__wrap {
  text-align: center;
  row-gap: 25px;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  // justify-content: center;
  // text-align: center;
  @media screen and (min-width: 480px) {
    & {
      padding: 0;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      padding-top: 40px;
      align-items: center;
    }
  }
  @media screen and (min-width: 1280px) {
    & {
      row-gap: 52px;
    }
  }
}

#header__title {
  width: 100%;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  color: #dc56c5;
  @media screen and (min-width: 480px) {
    & {
      width: 275px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      font-size: 30px;
      width: 353px;
    }
  }
  @media screen and (min-width: 1280px) {
    & {
      width: 590px;
      font-size: 50px;
    }
  }
}

.header__svg {
  position: absolute;
  top: 14px;
  right: 30px;
  fill: #939393;
}

.header__label {
  position: relative;
}

.header__input {
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  border: none;
  padding-left: 30px;
  @media screen and (min-width: 480px) {
    & {
      width: 270px;
    }
  }
}

#header__searching {
}

#header__country {
}
